body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}
header {
    background: linear-gradient(-45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
    color: rgb(195, 197, 195);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
    /* margin-left: 160px; */
    padding: 5px;
    position: sticky;
    top: 0;
    transition: margin-left 0.3s;
}
/* header.collapsed{
    margin-left: 40px;
} */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1336px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img {
    max-height: 60px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 10%;
}
.logo a {
    color:black;
    text-decoration: none;
    font-size: 14px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}
nav ul li {
    margin-right:15px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
footer {
    background-color: #ffffff;
    color: #000000;
    text-align:center;
    padding: 10px 0;
}

.dashboard{
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s;
}

.container{
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 160px;
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    border-right: 1px solid #ddd;
    z-index: 1;
}
.side-bar.collapsed {
    width: 40px;
}

.side-bar.collapsed .tab{
    justify-content: center;
}

.side-bar.collapsed .tab .icon {
    margin-right: 0;
}

.sidebar.collapsed .tab span {
    display: none; /* Hide text when collapsed */
}
.side-bar.collapsed .tab::before {
    text-indent: 0;
    text-align: center;
    display: block;
    content: attr(data-icon);
    font-size: 14px;
}
.side-bar .tab{
    display: block;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(156, 42, 42, 0.4)); */
    border-bottom: 1px solid #555;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:inherit;
}

.side-bar .tab .icon{
    margin-right: 15px;
    font-size: 18px;
}

.tab:hover{
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
}

.tab.active {
    background-color: #222;
    font-weight: bold;
}

.side-bar .toggle-btn{
    padding: 15px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
}
.side-bar .toggle-btn:hover{
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
}

.content {
    /* background-image: url('img/welcome.jpg');  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0a0a; /* Text color for contrast */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: margin-left 0.3s;
    margin-left: 160px;
}

/* .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0.4), rgba(156, 42,42, 0.4));
    z-index: 0;
} */
.content.collapsed{
    margin-left: 40px;
}

.content .text h1{
    margin: 0;
    text-align: top;
    position: relative;
    z-index: 1;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid rgb(15, 146, 3); /* Color of the arrow */
    margin: 20px auto; /* Center the arrow */
    display: block;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action-button {
    display: block;
    width: 30%;
    padding: 10px;
    background: linear-gradient(to right, rgb(0, 123, 255), rgb(0, 204, 0));
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background:linear-gradient(to right, rgb(0, 100, 200), rgb(87, 180, 0));
}

@media (max-width: 768px) {
    .sidebar {
        width: 30px;
    }
    .sidebar.collapsed {
        width: 30px;
    }
    .content {
        margin-left: 160px;
    }
    .content .image{
        margin-left: 160px;
    }
}

