body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.logo2 img {
    max-height: 60px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 10%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.logo2 a {
    color:black;
    text-decoration: none;
    font-size: 14px;
}
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.login-container h1{
    margin-bottom: 20px;
    text-align: center;
}
.form-group2 {
    margin-bottom: 15px;
}
.form-group2 label{
    display: block;
    margin-bottom: 15px;
}
.form-group2 input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1 px solid #ccc;
    border-radius: 5px;
}
button {
    display: block;
    width: 30%;
    padding: 10px;
    background: linear-gradient(to right, rgb(0, 123, 255), rgb(0, 204, 204));
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background:linear-gradient(to right, rgb(0, 100, 200), rgb(0, 180, 180));
}
.form-content-2 {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
    border-right: 2px solid #ddd;
}
.register-img {
    flex: 1.5;
    /* background: url("{{ url_for('static', filename='img/register.png') }}") no-repeat center center; */
    /* background-size: cover; */
}
.register-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* padding-top: 15px; */
    border-radius: 10px 0 10px 0;
}
.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: stretch;
    }

    .form-content-2 {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }
    form{
        margin-right: 0;
        flex: 1;
    }

    .register-img {
        flex: 1 1 50%;
        text-align: right;
    }

    .register-img img{
        display: none
    }
}
@media (max-width: 768px) {
    .register-container {
        padding: 15px;
    }
    .register-image{
        display: none;
    }
}