.container-1 {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay color */
        url('img/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-start;
    justify-content: right;
    max-width: 100%;
    height: 50vh;
    margin: 0 auto 0 160px;
    padding: 10px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container-2{
    display: flex;
    /* align-items: flex-start;
    justify-content: center; */
    flex-direction: column;
    max-width: 100%;
    height:auto;
    margin: 0 auto 0 160px;
    padding: 10px;
    border-radius: 8px;
}

.container-1.collapsed{
    margin-left: 40px;
}
.dashboard-2{
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s;
}


.side-bar-2{
    width: 160px;
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:74px;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1;
}
.side-bar-2.collapsed {
    width: 40px;
}

.side-bar-2.collapsed .tab-2{
    justify-content: center;
}

.side-bar-2.collapsed .tab-2 .icon {
    margin-right: 0;
}

/* .side-bar-2.collapsed .tab-2 span {
    display: none; /* Hide text when collapsed */

.side-bar-2.collapsed .tab-2::before {
    text-indent: 0;
    text-align: center;
    display: block;
    content: attr(data-icon);
    font-size: 14px;
}
.side-bar-2 .tab-2{
    display: block;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(156, 42, 42, 0.4)); */
    border-bottom: 1px solid #555;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:inherit;
}

.side-bar .tab-2 .icon{
    margin-right: 15px;
    font-size: 18px;
}

.tab-2:hover{
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
}

.tab-2.active {
    background-color: #222;
    font-weight: bold;
}

.side-bar-2 .toggle-btn-2{
    padding: 15px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
}
.side-bar-2 .toggle-btn-2:hover{
    background: linear-gradient(45deg, rgba(27, 16, 16, 0.945), rgba(53, 2, 2, 0.781));
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
}

.search-form input {
    background-color: #ddd;
    padding: 15px;
    width: 300px;
    margin-top: 0;
    border: 4px solid #ddd;
    border-radius: 10px 0 0 10px;
}

.search-form button {
    padding: 10px 20px;
    width: 100px;
    border: none;
    background: linear-gradient(to right, rgb(0, 123, 255), rgb(0, 204, 0));
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #0056b3;
}

.recipe-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    justify-content: flex-start;
}

.recipe_list .recipe{
    background: white;
    border:1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    padding: calc(25% - 20px);
    min-width: 200px;
    max-width: 250px;
    flex: 1 1 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}
.recipe img{
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.recipe h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
}

.recipe p{
    font-size: 0.9rem;
    margin: 5px 0;
}

.recipe a{
    color: #007bff;
    text-decoration:none;
    font-weight: bold;
}

.recipe a:hover{
    text-decoration: underline;
}

.recipe:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .recipe-list {
        flex-wrap: wrap; /* Stack items in a grid on smaller screens */
    }
}

@media (max-width: 480px) {
    .recipe-list .recipe {
        width: calc(100% - 20px); /* Stack items on small screens */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 30px;
    }
    .sidebar.collapsed {
        width: 30px;
    }
    .container-1 {
        margin-left: 160px;
    }
    .content .image{
        margin-left: 160px;
    }
}
