.login-container{
    background-color: #f4f5fc;
    background: 
        linear-gradient(rgb(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), 
        url('/static/img/content.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-content{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rba(0,0,0,1.5);
    width: 500px;
}
/* .form-content h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
} */


.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    color:#020202;
    font-size: 14px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #999;
    border-style: none;
}

input::placeholder {
    color: #a0a8c6;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #b71c1c;
}

.error{
    color: red;
    font-size: 0.87rem;
    margin-top: 5px;
}


.google-btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #f7f4f4;
    border: 2px solid #4285f4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.google-btn:hover {
    background-color: #cac8c8;
}

.google-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.google-text {
    font-size: 16px;
    font-weight: 500;
    color: #0b2042;
    text-decoration: none;
}

.google-btn:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(66, 133, 244, 0.5);
}

/* @media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: stretch;
    }

    .form-content {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }
    form{
        margin-right: 0;
        flex: 1;
    }

    .register-img img{
        display: none
    }
}
@media (max-width: 768px) {
    .register-container {
        padding: 15px;
    }
    .register-image{
        display: none;
    }
} */