.register-container{
    background-color: #f4f5fc;
    background: 
        url('/static/img/content.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    margin: 0;
}

.form-content{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rba(0,0,0,1.5);
    width: 500px;
}
.form-content h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    color:#333;
    font-size: 14px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #050505;
    border-style: none;
    border-radius: 10px;
}

.form-group input:hover{
    border: 1px solid #b71c1c;
    border-radius: 10px;
}
input::placeholder {
    color: #a0a8c6;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #b71c1c;
}

.error{
    color: red;
    font-size: 0.87rem;
    margin-top: 5px;
}
.form-group .form-control{
    width: 400px;
    height: 50px;
    /* border-style: none; */
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #b71c1c
}

/* .register-container .reg-img{
    display: flex;
    align-items:flex-start;

    width: auto;
    margin:0;
    padding: 10px;
    border-radius: 8px;

} */