{% extends "layout2.html" %}

{% block title %} Dashboard {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
<main class="dashboard">
    <!-- <div class="dashboard-pic">
         <img src="{{url_for('static', filename='img/download.png')}}" alt=""> -->
         <!-- <h3>looking For Recipe? Don't worry we will sort you out</h3> -->
    <!-- </div> --> 
    <h3>Welcome {{user.username}}</h3>
    <section class="stats-section">
        <div class="card user-stats">
            <h3>User Statistics</h3>
            <p>Total Recipes: {{total_saved_recipes}}</p>
        </div>
        <!-- <div class="card recent-activities">
            <h3>Recent Activities</h3>
            <p>Added a new recipe: "Spaghetti Carbonara"</p>
            <p>Created a meal plan for the week</p>
            <p>Updated the shopping list</p>
        </div> -->
         <!-- <div class="card tasks">
            <h3>Tasks</h3>
            <ul>
                <li><input type="checkbox"> Try the new "Vegan Burger" recipe</li>
                <li><input type="checkbox"> Plan meals for the weekend</li>
                <li><input type="checkbox"> Update pantry inventory</li>
            </ul>
        </div> -->
    </section>
    
    <div class="search">
        <form action="{{ url_for('api.search_recipe') }}" class="search-form" method="GET">
            <input type="text" name="query" placeholder="Search 1500+ recipes" required>
            <!-- <button type="submit">Search</button> -->
        </form>
    </div>
    {% if recommended_recipes %}
        <h3>Recommended Recipes</h3>
    {% endif %}
    <section class="recipes">
        {% if recommended_recipes %}
            {% for recipe in recommended_recipes %}
            <div class="recipe-card">
                <div class="details">
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">
                    <h4>{{ recipe.name }}</h4>
                    <p>Diet Type: {{ recipe.diet_type }}</p>
                    <a href="{{url_for('api.recipe_detail', recipe_id=recipe.id)}}">View Recipe</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </section>
    <section class="recipes">
        {% if recipes %}
            {% for recipe in recipes %}
            <div class="recipe-card">
                <div class="details">
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">
                    <h4>{{ recipe.name }}</h4>
                    <p>Diet Type: {{ recipe.diet_type }}</p>
                    <a href="{{url_for('api.recipe_detail', recipe_id=recipe.id)}}">View Recipe</a>
                </div>
                <!-- <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">
                <h4>{{ recipe.name }}</h4>
                <p>Diet Type: {{ recipe.diet_type }}</p>
                <a href="{{url_for('api.recipe_detail', recipe_id=recipe.id)}}">View Recipe</a> -->
            </div>
            {% endfor %}
        {% else %}
            <p>No recipes found.</p>  <!-- Fallback message -->
        {% endif %}
    </section>
</main>
{% endblock %}
