<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/log3.png')}}" type="image/x-icon">
    <title>{% block title %}Smart Recipe Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <!-- <img src="{{url_for('static', filename='img/log3.png')}}" alt=""> -->
            <a href="" class="logo-text"><img src="{{url_for('static', filename='img/log3.png')}}" alt="">Recipe Planner</a>
            {% block extra_styles %}{% endblock %}
        </div>
        <nav class="nav-links">
            <a href="{{url_for('api.dashboard', user_id=current_user.id, username=current_user.username)}}">Dashboard</a>
            <div class="dropdown">
                <a href="{{ url_for('api.search_recipe') }}" class="dropdown-link">Recipes</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('api.search_recipe') }}">Search Recipes</a>
                    <a href="{{url_for('api.saved_recipes', user_id=current_user.id)}}">Saved Recipes</a>
                </div>
            </div>
            <a href="{{url_for('api.meal_plan')}}">Meal Plans</a>
            <a href="{{url_for('auth.logout')}}">Settings</a>
        </nav>
        <div class="user-info">
            <span>{{user.username}}</span>
            <a href="{{url_for('api.profile', user_id=user_id)}}"><img src="{{url_for('static', filename='img/profile.png')}}" alt="Profile Picture" class="profile-pic"></a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer-main">
        <p>&copy; 2024 Smart Recipe Planner. All rights reserved.</p>
    </footer>
</body>
</html>