<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Recipe Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a href=""><img src="{{url_for('static', filename='img/logo.jpg')}}" alt=""></a>
                {% block extra_styles %}{% endblock %}
            </div>
            <nav>
                <ul>
                    <li><a href="{{url_for('auth.register')}}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Smart Recipe Planner. All rights reserved.</p>
    </footer>
</body>
</html>