{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block extra_styles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">{% endblock %}
{% block content %}
<div class="login-container">
    <div class="form-content">
        <button class="google-btn">
            <img src="{{url_for('static', filename='img/google.png')}}"  alt="Google logo" class="google-logo">
            <a href="{{ url_for('auth.google_login') }}" class="google-text">Continue with Google</a>
        </button>
        <form action="{{url_for('auth.login')}}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email" placeholder="email" required>
                {% if errors.get('email') %}
                    <small class="error">{{ errors['email'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                {% if errors.get('password') %}
                    <small class="error">{{ errors['password'] }}</small>
                {% endif %}
            </div>
           <button type="submit" class="login-button">Log in</button>
            <div>
                <p>Don't have an account ? </p>
                <a href="{{url_for('auth.register')}}">Sign Up &rarr;</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}