{% extends "layout2.html" %}

{% block title %} Search Recipes {% endblock %}

{% block extra_styles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/recipe.css') }}">{% endblock %}
{% block content %}
    <div class="container-1" id="container-2">
        <form action="" class="search-form">
            <input type="text" name="query" placeholder="search for recipes" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="container-2" id="container-2">
        {% if recipes %}
            <div class="recipe-list">
                {% for recipe in recipes %}
                    <li class="recipe">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        <p>Calories: {{recipe.calories | round(0)}}</p>
                        <p>Servings: {{recipe.yield}}</p>
                        <p><a href="{{ url_for('api.recipe_detail', recipe_id=recipe.uri | urlencode)}}" target="blank">View Recipe</a></p>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}