{% extends "layout2.html" %}

{% block title %} Dashbaord {% endblock %}

{% block extra_styles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/recipe.css') }}">{% endblock %}
{% block content %}
    <div class="container-1" id="container-2">
        <form action="" class="search-form">
            <input type="text" name="query" placeholder="search for recipes" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="container-2" id="container-2">
        <!-- {% if query %}
            <h2>Results for "{{ query}}"</h2>
        {% endif %} -->

        {% if recipes %}
            <div class="recipe-list">
                {% for recipe in recipes %}
                    <li class="recipe">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        <p>Calories: {{recipe.calories | round(0)}}</p>
                        <p>Servings: {{recipe.yield}}</p>
                        <p><a href="{{ url_for('api.recipe_detail', recipe_id=recipe.uri | urlencode)}}" target="blank">View Recipe</a></p>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebar = document.getElementById('sidebar-2');
            const container = document.getElementById('container-2');
            const toggleBtn = document.getElementById('toggle-btn-2');
            const header = document.getElementById('header')
    
            if (sidebar && toggleBtn) {
                toggleBtn.addEventListener('click', function() {
                    sidebar.classList.toggle('collapsed');
                    container.classList.toggle('collapsed');
                    header.classList.toggle('collapsed');
                });
    
                function setActiveTab() {
                    const currentUrl = window.location.href;
                    document.querySelectorAll('.sidebar .tab').forEach(tab => {
                        if (currentUrl.includes(tab.getAttribute('href'))) {
                            tab.classList.add('active');
                        } else {
                            tab.classList.remove('active');
                        }
                    });
                }
    
                setActiveTab();
            } else {
                console.error('One or more elements are not found. Ensure sidebar, content, and toggle-btn have the correct IDs.');
            }
        });
    </script>
{% endblock %}