{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block extra_styles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">{% endblock %}

{% block content %}

<div class="register-container">
    <div class="form-content">
        <h2>Create Your Account</h2>
        <button class="google-btn">
            <img src="{{url_for('static', filename='img/google.png')}}"  alt="Google logo" class="google-logo">
            <a href="{{ url_for('auth.google_login') }}" class="google-text">Continue with Google</a>
        </button>

        <form action="{{url_for('auth.register')}}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                {% if errors.get('username') %}
                    <small class="error">{{ errors['username'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email" placeholder="email" required>
                {% if errors.get('email') %}
                    <small class="error">{{ errors['email'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                {% if errors.get('password') %}
                    <small class="error">{{ errors['password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm Password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm password" placeholder="confirm password" required>
                {% if errors.get('confirm_password') %}
                    <small class="error">{{ errors['confirm_password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="diet_type">Dietary Preference (OPTIONAL)</label>
                <select id="diet_type" name="diet_type" class="form-control">
                    <option value="">Select Dietary Preference</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="paleo">Paleo</option>
                    <option value="ketogenic">Ketogenic</option>
                    <option value="gluten free">Gluten Free</option>
                    <option value="dairy free">Dairy Free</option>
                    <option value="pescatarian">Pescatarian</option>
                </select>
                {% if errors.get('diet_type') %}
                    <small class="error">{{ errors['diet_type'] }}</small>
                {% endif %}
            </div>
            <button type="submit" class="register-button">Register</button>
            <div>
                <p>Already have an account ? </p>
                <a href="{{url_for('auth.login')}}">Sign In &rarr;</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}