{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="register-container">
    <div class="form-content">
        <div class="logo2">
            <a href=""><img src="{{url_for('static', filename='img/logo.jpg')}}" alt=""> Recipe Planner </a>
        </div>
        <h1>Register</h1>
        <form action="{{url_for('auth.register')}}" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                {% if errors.get('username') %}
                    <small class="error">{{ errors['username'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" required>
                {% if errors.get('email') %}
                    <small class="error">{{ errors['email'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                {% if errors.get('password') %}
                    <small class="error">{{ errors['password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm password">confirm password</label>
                <input type="password" id="password" name="confirm password" placeholder="Confirm Password" required>
                {% if errors.get('confirm_password') %}
                    <small class="error">{{ errors['confirm_password'] }}</small>
                {% endif %}
            </div>
            <button type="submit">Register</button>
            <div>
                <p>Already have an account ? </p>
                <a href="{{url_for('auth.login')}}">Sign In &rarr;</a>
            </div>
        </form>
    </div>
    <div class="register-img">
        <img src="{{url_for('static', filename='img/register.png')}}" alt="">
    </div>
</div>
{% endblock %}