{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block extra_styles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">{% endblock %}

{% block content %}

<div class="register-container">
    <div class="form-content">
        <h2>Create Your Account</h2>
        <form action="{{url_for('auth.register')}}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                {% if errors.get('username') %}
                    <small class="error">{{ errors['username'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email" placeholder="email" required>
                {% if errors.get('email') %}
                    <small class="error">{{ errors['email'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                {% if errors.get('password') %}
                    <small class="error">{{ errors['password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm Password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm password" placeholder="confirm password" required>
                {% if errors.get('confirm_password') %}
                    <small class="error">{{ errors['confirm_password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="diet_type">Dietary Preference</label>
                <select id="diet_type" name="diet_type" class="form-control">
                    <option value="">Select Dietary Preference</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="paleo">Paleo</option>
                    <option value="ketogenic">Ketogenic</option>
                    <option value="gluten free">Gluten Free</option>
                    <option value="dairy free">Dairy Free</option>
                    <option value="pescatarian">Pescatarian</option>
                </select>
                {% if errors.get('diet_type') %}
                    <small class="error">{{ errors['diet_type'] }}</small>
                {% endif %}
            </div>
            <!-- <div class="form-group">
                <label for="allergies">Allergies</label>
                <select id="allergies" name="allergies" class="form-control" multiple>
                    <option value="gluten">Gluten</option>
                    <option value="peanut">Peanut</option>
                    <option value="tree nut">Tree Nut</option>
                    <option value="soy">Soy</option>
                    <option value="dairy">Dairy</option>
                    <option value="egg">Egg</option>
                    <option value="fish">Fish</option>
                    <option value="shellfish">Shellfish</option>
                    <option value="sesame">Sesame</option>
                </select>
                <small class="form-text text-muted">Hold Ctrl (Cmd on Mac) to select multiple options.</small>
                {% if errors.get('allergies') %}
                    <small class="error">{{ errors['allergies'] }}</small>
                {% endif %}
            </div> -->
            <button type="submit" class="register-button">Register</button>
            <div>
                <p>Already have an account ? </p>
                <a href="{{url_for('auth.login')}}">Sign In &rarr;</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}